body {
  font-family: "Inter", sans-serif;
  background-color: rgb(2, 2, 46);
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  transform: translateY(calc(50vh - 50%));
}
p {
  font-size: 22px;
  font-weight: 400;
  /* margin-bottom: 2rem; */
}
h1 {
  font-size: 65px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.2;
  animation: glow 1.5s linear infinite;
  box-shadow: inset 0 0 2px rgba(255, 255, 0, 0.05);
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  color: rgb(255, 255, 0);
}
.second {
  animation-delay: 0.5s;
  /* margin-left: 20px; */
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
